@media screen and (max-width: 2560px){
/*container grid spec*/
.container {
  display: grid;
/*  grid-template-columns: auto;*/
  width: 100%;
  height: 100%;
  border: none;
}


/*header img fixed*/
.header {
  background-image: url("../images/desk.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
/*  height: 100%;*/
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  padding: 0 20px;
  overflow: hidden;
}

/*header text*/
.header h1 {
  padding: 0;
  font-size: 50px;
}

.header h3 {
  padding: 0;
  margin-top: -25px;
}

.header-text {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: #363636;
  padding: 5px 0;
}


/*home icon*/

.home_icon{
  position: fixed;
  top: 10%;
  right: 5%; 
  cursor: pointer;
    animation: glow 4s infinite;
    border-radius: 50%;
    height: 55px;
}
/*ANINMATION*/
@keyframes glow{
  0%{
    box-shadow: 0px 0px 0px 0px;
  }
    50%{
    box-shadow: 0px 0px 30px 10px yellow;
  }
  100%{
    box-shadow: 0px 0px 0px 0px;
  }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed !important; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 25%;
    top: 20%;
    width: 50%; /* Full width */
    height:50% ; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    border-radius: 10px; /*border curved*/
}

#contact_me{
   margin: auto;
    margin-top: -50px;
    display: none;
    width: 95%;
    height:95%;
    max-width: 700px;
    background-color: rgba(0, 0, 0,0.9);
/*    background-image: url(../images/alien_background.gif);*/
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    color: white !important;
/*    overflow-y:  scroll;*/
    border-radius: 10px; /*border curved*/
}

#pro_pic{
    width: 45%;
    height: 50%;
    margin-left: 25%;
}


@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white !important;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/*about me*/
#intro_section{
   background-color: rgba(0, 0, 0, 0.5);
   height: 100vh; 
/*   height: 100%; */
   display: grid;
   grid-template-columns: repeat(10,1fr);
   grid-template-rows: repeat(10,1fr);
/*   border: 1px solid black;*/
}

#about_me{
  display: block;
  grid-column: 2/10;
  grid-row: 2/10;
/*  background-image: url("../images/water_drops.jpeg");*/
    background-color: rgba(33, 33, 33,0.7);
/*    background-color: #333333;*/
   background-size: cover;
  background-position: center;
  background-attachment:local;
}

#about_me{
   display: grid;
   grid-template-columns: repeat(10,1fr);
   grid-template-rows: repeat(10,1fr);
}

.about_me_content{
  display: block;
  grid-column: 3/9;
  grid-row: 3/9; 
  color: white;
  font-size: 20px;
    
}

.top_layer{
  display: block;
  grid-column: 1/11;
  grid-row: 1/6;
/*  background-color: white;*/
  background-image: url("../images/desk.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
/*  height: 100vh;*/
  height: 100%;
  display: flex;
  
}
.bottom_layer{
  display: block;
  grid-column: 1/11;
  grid-row: 6/11;
  height: 100%;
/*  background-color: #363636; */
  background-image: url("../images/desk_2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*professional skills*/

#skills_section{
  background-image: url("../images/desk_2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
/*  height: 120vh;  */
  height: 100%;  
  color: white;
/*
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,1fr);
*/
/*  border: 1px solid blue;*/
}

/*prof skill bars*/

/*container*/
.skills_contain{ 
  width: 90%;
  background-color: #ddd;
/*  border: 1px solid black;*/
  margin-left: 5%;
}

.profess_skills{
  display: block;
  grid-column: 1/3;
  grid-row: 1/2;
}

.personal_skills h2, .profess_skills h2{
    text-align: center;
    color: black;
}
.profess_skills h3{
    text-align: center;
    color: black;
}

.personal_skills{
  display: block;
  grid-column: 1/3;
  grid-row: 2/4;  
}

/*personal skills*/
/*bars*/

.team_work, .inovate, .indivi, .profess{ 
       height: 5%;
       background-color: #4CAF50;
       color: white;
       text-align: center;
       }
.inovate{
       background-color: #2196F3;
}

.indivi{
        background-color: #f44336;
        }

.profess {
          background-color:darkorange;
        }
    
/*professional skills*/
/*count up*/

.count_up{
   display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
    .top_canvas, .bot_canvas{
        display: inline-block;
    }


/*education section*/

#education_section{
  background-image: url("../images/desk_3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
/*  height: 100vh;   */
  height: 100%;   
  color: black;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
}


.academ_title{
  text-align: center;
  display: block;
  grid-column: 1/11;
  grid-row: 0/1;
}
.tertiary{
  display: block;
  grid-column: 2/10;
  grid-row: 2/6;
  background-color: rgba(250, 250, 250,0.5);
}

.tertiary h3, .secondary h3{
    text-align: center;
}
.secondary{
  display: block;
  grid-column: 2/10;
  grid-row: 7/11;
  background-color: rgba(250, 250, 250,0.5);
}



/*portfolio section*/

#portfolio_section{
  background-image: url("../images/mountains.jpg");
  background-size: cover;
  background-position: center;
/*  background-attachment: fixed;*/
  height: 80vh;  
  width: 100hh;  
/*  height: 100%;  */
  color: black;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
}

.portf_title{
  text-align: center;
  display: block;
  grid-column: 1/11;
  grid-row: 0/1;
}

.latest_work{
  display: grid;
  grid-column: 2/10;
  grid-row: 2/10;
  height: 350px;
/*  background-color: rgba(99, 99, 99, 0.7);*/
  animation: glow2 1s infinite;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
 
}
 
    .latest_work a{
        cursor: pointer;
    }    
    
    .outdoor_project{
        border-radius: 50%;
        width: 200px;
        height: 150px;
        
    }
    .blog1_project,.blog2_project,.code4ct_project{
        width: 250px;
        height: 150px;
    }

    .blog1_project,.blog2_project,.code4ct_project,.outdoor_project{
        display: inline-block;
/*        display: inline-flex;*/
          margin-left: 20%;
    }
    .outdoor_project{
          grid-column: 1/2;
          grid-row: 1/2;
          margin-left: 25%;
    }
    .code4ct_project{
          grid-column: 2/3;
          grid-row: 1/2;
    }
    .blog1_project{
          grid-column: 1/2;
          grid-row: 2/3;
    }
    .blog2_project{
          grid-column: 2/3;
          grid-row: 2/3;
    }
   
    #pro_pic{
        border-radius: 50%;
        width: 50%;
        width: 50%;
        margin-left: 25%;
    }
    .contact_logos{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 10%;
        margin-top: 20px !important;
    }
    #contact_info h2{
        color: white;
        font-size: 30px;
        margin-top: 30px;
        margin-left: 5px;
    }
    #contact_info a {
      text-decoration: none;
          color: white;
         width: 80%;
        height: 25px;
    }
   
    #contact_info .info_div{
       display: inline-flex;
        width: 80%;
        height: 25px;
    }
    
    
/*
.port{
    width: 100%;
    height: 25%;
}
*/



@keyframes glow2{
  0%{
    box-shadow: 0px 0px 0px 0px grey;
  }
    50%{
    box-shadow: 0px 0px 30px 10px grey;
  }
  100%{
    box-shadow: 0px 0px 0px 0px grey;
  }
}
/*nav bar*/

#nav, #tab_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_li, .tab_li{
    float: left;
}
.tab_li{
    text-align: center;
}

.nav_li a , .tab_li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 8px;
    text-decoration: none;
    cursor: pointer;
}
    .tab_li a{
        padding: 8px 8px;
    }
    
.nav_li a{
    display: inline-flex;
}

.nav_li a:hover, .tab_li a:hover {
    background-color: #111;
}

#nav{
    position: fixed;
    top: 0;
    width: 98.8%;
}

/*tab nav*/

.tab1{
    display: none;
}

 .city{
        display:none;
    }
    

}
/*responsiveness*/

@media screen and (max-width: 850px){

    .header-text {
        left: 50%;
        color: white;
    }
    .modal{
        width: 90%;
        height: 70%;
        left: 5%;
        top: 10%;
        padding-top: 80px; 
    }
    #about_me{
      grid-column: 1/11;
      grid-row: 1/11;
    }
    .about_me_content{
        grid-column: 2/10;
        grid-row: 2/10;
        font-size: 18px;
    }
    #skills_section{
/*        height: 180vh;*/
/*        height: 110%;*/
/*        width: 100%;*/
    }
    
    .profess_skills{ 
        display: block;
/*        border: 1px solid red;*/
    }
    .personal_skills{
        display: block;}
    .count_up{
        text-align: center;
        width: 100%;
    }
    .top_canvas, .bot_canvas{
        display: inline-block;
    }
    .tertiary{
        grid-column: 2/10;
        grid-row: 2/5;
    }
    .secondary{
        grid-column: 2/10;
        grid-row: 7/10;
        margin-bottom: 60px;
    }
     .blog1_project,.blog2_project,.code4ct_project,.outdoor_project{
        display: inline-block;
          margin-left: 5%;
    }
    .outdoor_project{
          margin-left: 10%;
    }
/*
    #education_section{
        height: 90vh; 
    }
*/
}

@media screen and (max-width: 500px){
    .count_up,top_canvas, .bot_canvas{
        display: block;
    }
    #contact_info h2{
        color: white;
        font-size: 18px;
        margin-top: 35px; 
        margin-left: 5px; 
    }
}
@media screen and (max-width: 600px){
    #portfolio_section{
        height: 100%;
    }
    
    .latest_work{
        height: 100%;
        display: block;
        text-align: center;
        
    }
    .blog1_project,.blog2_project,.code4ct_project,.outdoor_project{
        display: block;
          margin-right: auto;
          margin-left: auto;
             
    }

}
@media screen and (min-width: 601px) and (max-width: 1400px){
    #portfolio_section{
/*        height: 80%;*/
        height: 60vh;
    }
    
    .latest_work{
        height: 100%;
        display: inline-grid;
        text-align: center;
        
    }
    .blog1_project,.blog2_project,.code4ct_project,.outdoor_project{
        display: inline-block;
          margin-right: auto;
          margin-left: auto;
             
    }

}
@media screen and (min-width: 500px) and (max-width: 800px){
    
    #about_me{
      grid-column: 2/10;
      grid-row: 2/10;
    }
    .about_me_content{
        font-size: 18px;
        grid-column: 2/9;
        grid-row: 2/9;
    }

}
@media screen and (min-width: 801px) and (max-width: 950px){
    .about_me_content{
        font-size: 20px;
        grid-column: 2/9;
        grid-row: 2/9;
    }
}

@media screen and (min-width: 501px) and (max-width: 2500px){
    .profess_skills{
/*        height: 50%;*/
    }
    .count_up{
         height: 100%;
    }
    .profess_skills{
        margin-bottom: 75px;
    }
    #skills_section{
        height: 100%;
    }
    
    .profess_skills{ 
        display: block;
/*        border: 1px solid red;*/
    }
    .personal_skills{
        display: block;
    }
    .count_up{
/*        border: 1px solid red;*/
        text-align: center;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .top_canvas, .bot_canvas{
        display: inline-block;
    }
}

@media screen and (min-width: 501px) and (max-width: 1440px){    
    .profess_skills{
        margin-bottom: 25px;
    }
    .top_canvas, .bot_canvas{
        height: 225px;
    }
    #my_canvas1, #my_canvas2, #my_canvas3, #my_canvas4{
    display: inline-block;

}

}

@media screen and (min-width: 827px) and (max-width: 1440px){
        
    .count_up{
        height: 230px;
    }


}

@media screen  and (max-width: 1400px){
    .tertiary{
    grid-column: 1/11;
    grid-row: 2/6;
    margin-bottom: 25px;
    }
    .secondary{
        grid-column: 1/11;
        grid-row: 6/10;

    }
/*
    #education_section{
        height: 100vh; 
    }
*/
    #education_section h2{
        font-size: 18px;
    }
    
    

}

/*
@media screen and (min-width: 850px) and (max-width: 1100px){
    .blog1_project,.blog2_project,.code4ct_project,.outdoor_project{
        display: inline-block;
          margin-left: 5%;
    }
    .outdoor_project{
          margin-left: 20%;
    }
    .blog1_project{
        margin-left: 15%;
    }
}
    
@media screen and (min-width: 1101px) and (max-width: 1440px){
       .blog2_project,.code4ct_project{
          margin-left: 15%;
    }
}
@media screen and (min-width: 501px) and (max-width: 700px){
 .latest_work{
      display: grid;
      grid-column: 1/11;
      grid-row: 2/8;

    }
*/
    